* {
    font-family: 'Roboto', sans-serif;
    color:#2b2a4c;
}

body{
    text-align: center;
}

nav > a {
    padding-right: 12px;
}
.text-red{
    color:#b31312;
}

.text-yavruagzi{
    color:#ea906c;
}

.text-cream{
    color:#eee2df;
}

.text-sari{
    color:#ffc400;
}

.text-mor{
    color:#cc00ff;
}

.urun-list{
    list-style-type: circle;
    list-style-position: inside;
}

